In [1]:
import pandas as pd

# Creating two DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Score': [85, 90, 75]})

# Performing an inner merge on "ID"
df_merge = df1.merge(df2, on='ID', how='inner')
print(df_merge)

   ID     Name  Score
0   2      Bob     85
1   3  Charlie     90

In [3]:
staff_df=pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                        {'Name': 'Sally', 'Role': 'Course liasion'},
                        {'Name': 'James', 'Role': 'Grader'}])

staff_df = staff_df.set_index('Name')

display(staff_df)

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

In [4]:
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                            {'Name': 'Mike', 'School': 'Law'},
                            {'Name': 'Sally', 'School': 'Engineering'}])


display(student_df)

    Name       School
0  James     Business
1   Mike          Law
2  Sally  Engineering

In [6]:
student_df=student_df.set_index('Name')

In [7]:
display(student_df)

            School
Name
James     Business
Mike           Law
Sally  Engineering

In [9]:
merged_df=pd.merge(staff_df,student_df,how='inner',on='Name')

In [10]:
display(merged_df)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

In [15]:
merged_df2=pd.merge(staff_df,student_df,how='inner',left_index=True,right_index=False)

MergeError: Must pass right_on or right_index=True

In [14]:
display(merged_df2)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business