In [4]:
import pandas as pd 
import numpy as np
import timeit

df=pd.read_csv('assets/census.csv')

df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243286,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [9]:
def uppercase_columns_apply():
    df['STNAME'] = df['STNAME'].apply(lambda x: x.upper())

timeit.timeit(uppercase_columns_apply, number=1000)

0.28724937498918734

In [10]:
def uppercase_columns_comprehension():
    df['STNAME'] = [x.upper() for x in df['STNAME']]

timeit.timeit(uppercase_columns_comprehension, number=1000)

0.25583524999092333

In [12]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'],
                   'Age': [25, 30, 35]})

# Using apply() to modify 'Age' column
df['Age in 10 Years'] = df['Age'].apply(lambda x: x + 10)

print(df)

      Name  Age  Age in 10 Years
0    Alice   25               35
1      Bob   30               40
2  Charlie   35               45

In [13]:
import pandas as pd

# Sample Data
df = pd.DataFrame({'Age': [5, 12, 18, 25, 40, 60, 80]})

# Create Age Groups
df['Age_Group'] = pd.cut(df['Age'], bins=[0, 12, 18, 40, 60, 100], 
                         labels=['Child', 'Teen', 'Young Adult', 'Middle Aged', 'Senior'])

print(df)

   Age    Age_Group
0    5        Child
1   12        Child
2   18         Teen
3   25  Young Adult
4   40  Young Adult
5   60  Middle Aged
6   80       Senior

In [14]:
# Automatically create 3 bins
df['Bins'] = pd.cut(df['Age'], bins=3)
print(df)

   Age    Age_Group           Bins
0    5        Child  (4.925, 30.0]
1   12        Child  (4.925, 30.0]
2   18         Teen  (4.925, 30.0]
3   25  Young Adult  (4.925, 30.0]
4   40  Young Adult   (30.0, 55.0]
5   60  Middle Aged   (55.0, 80.0]
6   80       Senior   (55.0, 80.0]

In [15]:
df['Age_Group'] = df['Age_Group'].astype('category')
print(df.dtypes)

Age             int64
Age_Group    category
Bins         category
dtype: object